html {
  background-image: url(abstract.png);
  background-repeat: repeat-y;
  background-size: cover;
}


h1 {
  color: black;
}

body {
  color: white;
  font-family: "Segoe UI";
}

.controlPanel-display{
  border-radius: 25px;
  border: 2px solid white;
  height: 265px;
  width: 475px;
  background-color: DodgerBlue;
  padding-left: 16px;
  font-weight: bold;
}

.sizeInput-display{
  border-radius: 14px;
  border: 2px solid white;
  padding-top: 6px;
  margin-top: 10px;
  margin-left: 12px;
  font-size: 22px;
  font-weight: bold;
  width: 90px;
}

.control-buttons{
  display: inline-table;
  padding: 10px 10px;
  height: 80px;
  width: 80px;
  margin: 4.6px;
  border-radius: 50px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: DodgerBlue;
}

.control-buttons-div{
    border: 2px solid white;
    border-radius: 20px;
    width: 370px;
    height: 185px;
}

.display-region{
  border-radius: 25px;
  border: 1px solid black;
  height: 150px;
  background-color: white;
}

.warning-display{
    color: black;
    font-size: 30px;
    margin-left: 10px;
}

.matrix1-display{
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
}

.matrix2-display{
    display: inline-block;
}

.equals-display{
    display: inline-block;
    font-size: 50px;
    color: black;
}

.result-display{
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}

.element-input3{
    display: inline-block;
    width: 60px;
    height: 40px;
    font-size: 25px;
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
    color: black;
}

.element-input1{
    width: 60px;
    height: 40px;
    font-size: 25px;
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
}

.element-input2{
    width: 60px;
    height: 40px;
    font-size: 25px;
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
}

.operator-display{
    font-size: 50px;
    color: black;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
}

.det-operator-display{
    font-size: 50px;
    color: black;
    display: inline-block;
}

