<!DOCTYPE html>
<html lang="eng">

  <head>
      <meta charset="utf-8">
      <title>Blizzard : Matrix Calculator</title>
      <link rel="stylesheet" href="matrix-display.css">
  </head>

  <body>
      <h1>Blizzard: Matrix Calculator</h1>
      <form>
          <div class="controlPanel-display">
            ROWS <input type="number" id="rows" class="sizeInput-display">
            COLUMNS <input type="number" id="columns" class="sizeInput-display">
            <button type="button" onclick="createMatrix()" id="enterBtn" class="sizeInput-display">ENTER</button>
            <br>
            <br>
            <div class="control-buttons-div">
                <button type="button" onclick="setOperator(this.id)" id="addBtn" class="control-buttons">ADD<br>＋</button>
                <button type="button" onclick="setOperator(this.id)" id="subtractBtn" class="control-buttons">SUB<br>－</button>
                <button type="button" onclick="setOperator(this.id)" id="determinantBtn" class="control-buttons">DET<br>(M)</button>
                <button type="button" onclick="setOperator(this.id)" id="multiplyBtn" class="control-buttons">PROD<br>×</button>
                <br>
                <button type="button" id="goBtn" class="control-buttons">GO!</button>
                <button type="button" onclick="clearScreen()" id="clearBtn" class="control-buttons">CLR</button>
                <button type="button" onclick="deleteButton()" id="delBtn" class="control-buttons">DEL</button>
            </div>
          </div>
          <br>
          <br>
          <div id="matrixDisplay" class="display-region">
              <div id="matrix1Display" class="matrix1-display"></div>
              <div id="operatorDisplay" class="operator-display"></div>
              <div id="matrix2Display" class="matrix2-display"></div>
              <div id="equalsDisplay" class="equals-display"></div>
              <div id="matrix3Display" class="result-display"></div>
          </div>
      </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="matrix_script.js"></script>
  </body>

</html>
